{% extends "layout.html" %}

{% block pageTitle %}
Select the target area for the alert
{% endblock %}

{% set versionxxx = "v1" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {{backlink|safe}}

{% endblock %}

{% block content %}
{# permit|dump #}

{% set appType = 'area' %}
{% if permit.area=="solentsouthdowns" %}
    {% set appType = 'solentsouthdowns' %}
{% endif %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="{{formAction}}" novalidate>
            <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                            Add target area
                        </h1>
                    </legend>

					
					
					<label class="govuk-label" for="target-area">
            Use the area code or area name to find a target area for this flood warning.						
					</label>
			          <div id="target-area-container" name="target-area"></div>
						

					  </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I cannot find the flood target area I need            </span>
          </summary>

          <p>Check the target area exists for flood warnings.</p>
          
          <p>Check your spelling.</p>
          

          </details>
    </div>
</div>

<style>
  .autocomplete__wrapper {
    position: relative;
    max-width: 35em;
    margin-bottom: 20px;
    font-family: "GDS Transport",Arial,sans-serif;
  }

  @media (min-width: 40.0625em) {
    .autocomplete__wrapper {
      margin-bottom: 30px;
    }
  }

  .autocomplete__hint, .autocomplete__input {
    -webkit-appearance: none;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 0;
    width: 100%;
    text-transform: capitalize;
  }

  .autocomplete__input {
    background-color: transparent;
    position: relative;
    text-transform: capitalize;
  }

  .autocomplete__hint {
    color: #b1b4b6;
    position: absolute;
  }

  .autocomplete__input--default {
    padding: 5px;
  }

  .autocomplete__input--focused {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }

  .autocomplete__input--show-all-values {
    padding: 5px 34px 5px 5px;
    cursor: pointer;
  }

  .autocomplete__dropdown-arrow-down {
    z-index: -1;
    display: inline-block;
    position: absolute;
    right: 8px;
    width: 24px;
    height: 24px;
    top: 10px;
  }

  .autocomplete__menu {
    background-color: #fff;
    border: 2px solid #0b0c0c;
    border-top: 0;
    color: #0b0c0c;
    margin: 0;
    max-height: 342px;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    width: calc(100% - 4px);
  }

  .autocomplete__menu--visible {
    display: block;
  }

  .autocomplete__menu--hidden {
    display: none;
  }

  .autocomplete__menu--overlay {
    box-shadow: rgba(0, 0, 0, 0.256863) 0 2px 6px;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 100;
  }

  .autocomplete__menu--inline {
    position: relative;
  }

  .autocomplete__option {
    border-bottom: solid #b1b4b6;
    border-width: 1px 0;
    cursor: pointer;
    display: block;
    position: relative;
  }

  .autocomplete__option > * {
    pointer-events: none;
  }

  .autocomplete__option:first-of-type {
    border-top-width: 0;
  }

  .autocomplete__option:last-of-type {
    border-bottom-width: 0;
  }

  .autocomplete__option--odd {
    background-color: #fafafa;
  }

  .autocomplete__option--focused, .autocomplete__option:hover {
    background-color: #1d70b8;
    border-color: #1d70b8;
    color: #fff;
    outline: 0;
  }

  .autocomplete__option--no-results {
    background-color: #fafafa;
    color: #646b6f;
    cursor: not-allowed;
  }

  .autocomplete__hint, .autocomplete__input, .autocomplete__option {
    font-size: 16px;
    line-height: 1.25;
  }

  .autocomplete__hint, .autocomplete__option {
    padding: 5px;
  }

  @media (min-width: 641px) {
    .autocomplete__hint, .autocomplete__input, .autocomplete__option {
      font-size: 19px;
      line-height: 1.31579;
    }
  }
</style>
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

<!--Solent and South Downs alert-->
{% if permit.area=="solentsouthdowns" %}
{% include "v1/details/southdowns.html" %}
{% endif %}

<!--Devon cornwall - Devon-->
{% if permit.area=="devoncornwall" %}
{% include "v1/details/devoncornwall.html" %}
{% endif %}

<!--Devon cornwall - Cornwall and IOS-->
{% if permit.area=="devoncornwallios" %}
{% include "v1/details/devoncornwallios.html" %}
{% endif %}

<!--Cumbria and Lancashire - Lancashire-->
{% if permit.area=="cumbrialancashirelanc" %}
{% include "v1/details/cumbrialancashirelanc.html" %}
{% endif %}

<!--Cumbria and Lancashire - Cumbria-->
{% if permit.area=="cumbrialancashirecumb" %}
{% include "v1/details/cumbrialancashirecumb.html" %}
{% endif %}

<!--Yorkshire South and West-->
{% if permit.area=="yorkshiresouthwest" %}
{% include "v1/details/yorkshiresouthwest.html" %}
{% endif %}

<!--Yorkshire North and East-->
{% if permit.area=="yorkshirenortheast" %}
{% include "v1/details/yorkshirenortheast.html" %}
{% endif %}


<!--East Anglia CB-->
{% if permit.area=="eastangliacb" %}
{% include "v1/details/eastangliacb.html" %}
{% endif %}

<!--East Anglia ENS-->
{% if permit.area=="eastangliaens" %}
{% include "v1/details/eastangliaens.html" %}
{% endif %}

<!--East Midlands-->
{% if permit.area=="eastmidlands" %}
{% include "v1/details/eastmidlands.html" %}
{% endif %}

<!--Gtr Mancs Mersey and Ches-->
{% if permit.area=="gtrmancsmerseyches" %}
{% include "v1/details/gtrmancsmerseyches.html" %}
{% endif %}

<!--Herts and North London-->
{% if permit.area=="hertsnorthlondon" %}
{% include "v1/details/hertsnorthlondon.html" %}
{% endif %}

<!--Herts and North London-->
{% if permit.area=="kentslondonesussex" %}
{% include "v1/details/kentslondonesussex.html" %}
{% endif %}

<!--Herts and North London-->
{% if permit.area=="lincsnorthland" %}
{% include "v1/details/lincsnorthland.html" %}
{% endif %}

<!--Herts and North London-->
{% if permit.area=="northeast" %}
{% include "v1/details/northeast.html" %}
{% endif %}

<!--Herts and North London-->
{% if permit.area=="thames" %}
{% include "v1/details/thames.html" %}
{% endif %}

<!--Herts and North London-->
{% if permit.area=="wessexnorth" %}
{% include "v1/details/wessexnorth.html" %}
{% endif %}

<!--Herts and North London-->
{% if permit.area=="wessexsouth" %}
{% include "v1/details/wessexsouth.html" %}
{% endif %}

<!--Herts and North London-->
{% if permit.area=="westmidlandseast" %}
{% include "v1/details/westmidlandseast.html" %}
{% endif %}

<!--Herts and North London-->
{% if permit.area=="westmidlandswest" %}
{% include "v1/details/westmidlandswest.html" %}
{% endif %}

{% endblock %}


