{% extends "layout.html" %}

{% block pageTitle %}
Select the target area for the alert
{% endblock %}

{% set versionxxx = "v1" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

{% endblock %}

{% block content %}
{# permit|dump #}

{% set appType = 'area' %}
{% if permit.area=="solentsouthdowns" %}
    {% set appType = 'solentsouthdowns' %}
{% endif %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form action="/target-area-selected" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                            Add the target area
                        </h1>
                    </legend>

					
					
					<fieldset class="govuk-fieldset">
					<label class="govuk-label" for="target-area">
            Add the area code or area name to find a target area for this flood alert.						
					</label>

          <input class="govuk-input" id="target-area" name="target-area" type="text">


        </fieldset>
						

					  </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
	                </fieldset>

        </form>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I can not find the flood target area that I am looking for
            </span>
          </summary>

          <p>Check that the target area you are looking for issues flood alerts, and is within your Duty Officer area.</br></br>

            Only relevant target areas to the severity level and Duty Officer are available.
            </p>

          </details>
    </div>
</div>

{% endblock %} 