
{% extends "layout.html" %}
{% set versionxxx = "v1" %}

{% block pageTitle %}
  Get flood warnings
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get flood warnings
      </h1>

      <p><a href="/prototype-admin/clear-data">Clear permit data</a></p>
      <!-- user lab -->
      <h2 class="govuk-heading-m">Alpha design test 1</h2>
      <h3 class="govuk-heading-s">Internal user research</h3>

      <p class="govuk-body">Week starting 28 December 2020 <!--the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table further down the page--></p>

      <p class="govuk-body">These tests cover selecting issue severity and a target area.</br>
      <p>The aim of these tests are to gain understanding around internal user's depth of knowledge around message types (largely severity levels), and target area names and codes.</p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- ########################################################################### -->
      
          <h2 class="govuk-heading-m">
            Research
          </h2>
      

          <h3 class="govuk-heading-m">
Select severity level         </h3>
<p style="font-weight: 600;">Split test option A:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="/{{versionxxx}}/severity/radio/select_severity_details" target="_blank">Radio select A</a> </li>
          
</ul>
<p style="font-weight: 600;">Split test option B:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/{{versionxxx}}/severity/radio/select_severity_details_icons" target="_blank">Radio select B</a> </li>
                    
          </ul>
        </br>
      </br>
    </br>
    <h3 class="govuk-heading-m">
              Select target area         </h3>
              <p style="font-weight: 600;">Split test option A:</p>

                        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/{{versionxxx}}/target-area/input" target="_blank">Input with validation</a> </li>
          </ul>
        </br>
          <p style="font-weight: 600;">Split test option B:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/{{versionxxx}}/target-area/autocomplete" target="_blank">Autocomplete</a> </li>
          </ul>
            </br>
          </br>
        </br>
          
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <!-- ########################################################################### -->
  
              <h2 class="govuk-heading-m">
                Archived research
              </h2>

              <h2 class="govuk-heading-s">
                Select severity
              </h2>
 
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/{{versionxxx}}/severity/button/select_severity" target="_blank">Button icon option</a> </li>
                    <li><a href="/{{versionxxx}}/severity/radio/select_severity_icons" target="_blank">Radio select, with icons option</a> </li>
                    <li><a href="/{{versionxxx}}/severity/radio/select_severity" target="_blank">Radio select option</a> </li>
                  </ul>   
 
          
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <!-- ########################################################################### -->
    
           </div>
              </div>

            {% endblock %}
