
{% extends "layout.html" %}
{% set versionxxx = "v2" %}

{% block pageTitle %}
  Get flood warnings
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Get flood warnings
      </h1>

      <p><a href="/prototype-admin/clear-data">Clear permit data</a></p>
      <!-- user lab -->
      <h2 class="govuk-heading-m">Alpha design test 2</h2>
            <h3 class="govuk-heading-s">External user research</h3>
      <p class="govuk-body">Week starting 8 February 2021</p>

      <p>This sprint there are no design prototypes for testing, instead a content grouping test.</br></br> The intent of this testing was to understand how recognisable the target area names are to external users.</br></br>The regions and flood areas were put into radio selects purely for filtering purposes.<!--the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table further down the page--></p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <!-- ########################################################################### -->
      
          <h2 class="govuk-heading-m">
            Research
          </h2>
            <p><a href="/{{versionxxx}}/location/catigories" target="_blank">Regions and flood areas</a></p>
          <!--  <li><a href="/{{versionxxx}}/location/input" target="_blank">Search for a location</a></li>-->

    </div>
  </div>

            {% endblock %}
