<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#passport-issued-error">Target area code is not valid. </br></br>Please check: </br>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a class="govuk-link" href="#">target area exists for flood alerts</a>
              </li>
              <li>
                <a class="govuk-link" href="#">target area is in your duty area</a>
              </li>
              <li>
                <a class="govuk-link" href="#">your spelling</a>
              </li>

              </ul>

            </a>
        </li>
      </ul>
    </div>
  </div>