<strong>Flood alert is for minor flooding</strong>
<p>Issued for low impact flooding. This could be shallow flooding of roads and footpaths, or flooding of areas with little to no impact on people - such as fields or farmland.</br>   
</br>
<strong>Flood warning is for flooding</strong></br>
This is issued when flooding of properties is expected, or when the flooding will impact people, such as flooding of major roads or infrastructure.</br>
</br>
<strong>Severe flood warning is for severe flooding</strong></br>
Issued when there is a risk to life or significant disruption for people in that area. Flood waters may be deep or fast flowing. Evacuations may be required and emergency services and local authorities will be heavily involved.</br>
</p>