<p><div style="width: 85%;"><strong>Flood alert is for minor flooding</strong></br>
Issued for low impact flooding. This could be shallow flooding of roads and footpaths, or flooding of areas with little to no impact on people - such as fields or farmland.</div></br>   
<span style="width: 30%;height:10%; position: absolute;right: 15%;top: 52.5%;"><img alt="" src="/public/images/alert1.jpg" height="98.5px" width="86.5px"/></span></br>
    
<strong>Flood warning is for flooding</strong></br>
<div style="width: 85%;">This is issued when flooding of properties is expected, or when the flooding will impact people, such as flooding of major roads or infrastructure.</div></br>
<span style="width: 30%;height:10%; position: absolute;right: 15%;top: 70.5%;"><img alt="" src="/public/images/warning1.jpg" height="98.5px" width="86.5px"/></span>
</br>
<strong>Severe flood warning is for severe flooding</strong></br>
<div style="width: 85%;">Issued when there is a risk to life or significant disruption for people in that area. Flood waters may be deep or fast flowing. Evacuations may be required and emergency services and local authorities will be heavily involved.</div></br>
<span style="width: 30%;height:10%; position: absolute;right: 15%;top: 90.5%;"><img alt="" src="/public/images/severe1.jpg" height="98.5px" width="86.5px"/></span></p>